<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213012066784-dderq2mnj1kq34nsfd2nsepthv3vr91e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213012066784-dderq2mnj1kq34nsfd2nsepthv3vr91e</string>
	<key>API_KEY</key>
	<string>AIzaSyCRtJks0jPUTYDYiC29-0_HV6Izs5hnhkQ</string>
	<key>GCM_SENDER_ID</key>
	<string>213012066784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ciihackathon</string>
	<key>PROJECT_ID</key>
	<string>ciihackathon-b046d</string>
	<key>STORAGE_BUCKET</key>
	<string>ciihackathon-b046d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213012066784:ios:fcaf475ebc5c25c6e7bb85</string>
</dict>
</plist>